In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv('weather_data\cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rio Grande,BR,2022-09-12 08:56:58,-32.0350,-52.0986,55.02,92,73,7.02
1,1,Aasiaat,GL,2022-09-12 08:58:23,68.7098,-52.8699,39.92,95,100,16.46
2,2,Havelock,US,2022-09-12 08:57:02,34.8791,-76.9013,82.35,89,70,6.04
3,3,Arraial Do Cabo,BR,2022-09-12 08:58:24,-22.9661,-42.0278,66.81,76,100,8.61
4,4,Ribeira Grande,PT,2022-09-12 08:58:24,38.5167,-28.7000,72.00,78,20,11.50

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# General Format
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [53]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)
row[1]

'KY'

In [44]:
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Havelock,US,2022-09-12 08:57:02,34.8791,-76.9013,82.35,89,70,6.04
6,6,Itarema,BR,2022-09-12 08:58:25,-2.9248,-39.9167,77.72,79,88,15.03
8,8,French Harbor,HN,2022-09-12 08:58:25,16.3500,-86.4333,82.08,90,100,16.53
12,12,Male,MV,2022-09-12 08:58:27,4.1748,73.5089,85.95,74,40,12.66
22,22,Tosya,TR,2022-09-12 08:58:30,41.0155,34.0401,79.47,39,18,2.30
...,...,...,...,...,...,...,...,...,...,...
568,568,Mulatupo,PA,2022-09-12 09:13:24,8.9492,-77.7652,75.88,92,96,5.44
569,569,Cozumel,MX,2022-09-12 09:10:02,20.5083,-86.9458,76.95,96,99,5.57
573,573,Quelimane,MZ,2022-09-12 09:13:25,-17.8786,36.8883,88.30,33,0,9.31
575,575,Shirvan,AZ,2022-09-12 09:13:26,39.9509,48.8994,82.45,42,67,12.30
578,578,West Bay,KY,2022-09-12 09:13:27,19.3667,-81.4167,84.00,87,84,1.01

In [ ]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

In [54]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.tail(10)

            City Country  Max Temp      Lat      Lng Hotel Name
561        Bimbo      CF     77.52   4.2567  18.4158
562      Mazagao      BR     77.05  -0.1150 -51.2894
563  Robertsport      LR     77.76   6.7533 -11.3686
564     Monopoli      IT     81.05  40.9559  17.2896
565        Dunda      TZ     85.28  -8.1167  34.2500
568     Mulatupo      PA     75.88   8.9492 -77.7652
569      Cozumel      MX     76.95  20.5083 -86.9458
573    Quelimane      MZ     88.30 -17.8786  36.8883
575      Shirvan      AZ     82.45  39.9509  48.8994
578     West Bay      KY     84.00  19.3667 -81.4167

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [67]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [68]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Havelock,US,82.35,34.8791,-76.9013,Sherwood Motel
6,Itarema,BR,77.72,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
8,French Harbor,HN,82.08,16.3500,-86.4333,"Fantasy Island Beach Resort, Dive & Marina"
12,Male,MV,85.95,4.1748,73.5089,Hotel Octave Maldives
22,Tosya,TR,79.47,41.0155,34.0401,Galeri Basri
23,Saint-Joseph,RE,77.11,-21.3667,55.6167,"""Plantation Bed and Breakfast"
25,Bengkulu,ID,82.94,-3.8004,102.2655,Grage Hotel Bengkulu
28,Gweta,BW,88.03,-20.1833,25.2333,Gweta Lodge
29,Ponta Do Sol,PT,77.00,32.6667,-17.1000,Hotel do Campo
32,Iracoubo,GF,76.23,5.4802,-53.2011,Le Gîte d’Iracoubo

In [69]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [70]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [65]:
# info_box_template = """
# <dl>
# <dt>Name</dt><dd>{column1}</dd>
# <dt>Another name</dt><dd>{column2}</dd>
# </dl>
# """

In [21]:
preferred_cities_df['Country'].isnull().sum()

0

In [15]:
# preferred_cities_df['Country'].isna()

In [16]:
# preferred_cities_df[preferred_cities_df['Country'].isnull()]

In [17]:
# preferred_cities_df.dropna()

In [18]:
# preferred_cities_df['Country'].isna().sum()

In [19]:
# preferred_cities_df.dropna(how='any', inplace=True)